/* QualifyingQuestionsModal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .modal-container {
        width: 90%;
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    .modal-container {
        width: 95%;
        padding: 1rem;
    }

    .modal-container h2 {
        font-size: 1.2rem;
    }
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    padding: 0.7rem;
    background-color: #7B00FF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #5754d4;
}
.submit-button.disabled {
    background-color: #5754d4; /* Or any color indicating disabled state */
    cursor: not-allowed;
}
