src/components/Home.css
.home-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh;
  background-color: #f9f9f9;
}

.loading {
  font-size: 1.5rem;
  color: #333;
}

/* src/components/VerificationInProgress.css */
.verification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  color: #555;
}

.verification-message {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* src/components/VerifiedHome.css */
.product-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70vw;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-info h3 {
  margin: 0 1rem;
  font-size: 1.2rem;
  color: #333;
}

.product-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #777;
}

.book-meeting-btn {
  background-color: #7B00FF;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-meeting-btn:hover {
  background-color: #5754d4;
}
