/* UseCaseDetails.css */
.use-case-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
    background-color:rgb(0, 0,0,5%);
}

.use-case-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.use-case-section img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.use-case-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.use-case-section p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

.reference-links ul {
    padding-left: 20px;
}

.reference-links ul li {
    margin-bottom: 5px;
}

.reference-links ul li a {
    color: #007BFF;
    text-decoration: none;
}

.reference-links ul li a:hover {
    text-decoration: underline;
}

/* Responsive styling */
@media (max-width: 768px) {
    .use-case-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .use-case-section img {
        margin-bottom: 10px;
    }

    .use-case-details {
        padding: 10px;
    }

    .use-case-section h2 {
        font-size: 1.25rem;
    }

    .use-case-section p {
        font-size: 0.9rem;
    }
}
