/* src/components/VerifiedHome.css */
.product-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-info {
  display: flex;
  align-items: center;
}

.product-info h3 {
  margin: 0 1rem;
  font-size: 1.2rem;
  color: #333;
}

.product-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #777;
}

.product-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.book-meeting-btn {
  background-color: #7B00FF;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.book-meeting-btn:hover {
  background-color: #7B00FF;
}
.book-meeting-btn .icon {
  margin-right: 1rem; /* Increase this value to increase space */
}

.arrow-btn {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.arrow-btn img {
  width: 1.5vw;
  height: 3vh;
}
.no-products {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
}